#include "k03h.dtsi"
#include "k03h_left-pinctrl.dtsi"


/ {
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        row-gpios = <&gpio0 9 (GPIO_ACTIVE_LOW)>,
                    <&gpio0 10 (GPIO_ACTIVE_LOW)>,
                    <&gpio0 11 (GPIO_ACTIVE_LOW)>,
                    <&gpio0 12 (GPIO_ACTIVE_LOW)>,
                    <&gpio0 13 (GPIO_ACTIVE_LOW)>,
                    <&gpio0 14 (GPIO_ACTIVE_LOW)>;
        col-gpios = <&gpio0 4 (GPIO_ACTIVE_LOW)>,
                    <&gpio0 5 (GPIO_ACTIVE_LOW)>,
                    <&gpio0 6 (GPIO_ACTIVE_LOW)>,
                    <&gpio0 7 (GPIO_ACTIVE_LOW)>,
                    <&gpio0 8 (GPIO_ACTIVE_LOW);
    };

    mtx_transform: keymap_transform {
        compatible = "zmk,matrix-transform";
        rows = <6>;
        cols = <5>;
        map = <
            9 10 11 12 13 14 
            4 5   6   7   8

        >;
    };

    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &mtx_transform;
    };
};

