# zmk-config/boards/shields/k03h/Kconfig.defconfig
config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y if SHIELD_K03H_LEFT

config ZMK_SPLIT_ROLE_PERIPHERAL
    default y if SHIELD_K03H_RIGHT

