/dts-v1/;
/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    /* ================= Matrix ================= */
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        row-gpios 
						= <&pio0 4 GPIO_ACTIVE_LOW>
						, <&pio0 5 GPIO_ACTIVE_LOW>
						, <&pio0 6 GPIO_ACTIVE_LOW>
						, <&pio0 7 GPIO_ACTIVE_LOW>
            , <&pio0 8 GPIO_ACTIVE_LOW>
						;
        col-gpios = <&pio0 9 GPIO_ACTIVE_LOW>,
                    <&pio0 10 GPIO_ACTIVE_LOW>,
                    <&pio0 11 GPIO_ACTIVE_LOW>,
                    <&pio0 12 GPIO_ACTIVE_LOW>,
                    <&pio0 13 GPIO_ACTIVE_LOW>,
                    <&pio0 14 GPIO_ACTIVE_LOW>;
        diode-direction = <COL2ROW>;
    };

    /* ================= Split ================= */
    split0: split {
        compatible = "zmk,split";
        split-role = "central";  // левый или правый
        hand-detect-gpios = <&pio0 29 GPIO_ACTIVE_LOW>;

        uart {
            tx-pin = <0>;   // SERIAL_USART_TX_PIN
            rx-pin = <1>;   // SERIAL_USART_RX_PIN
        };
    };

    /* ================= OLED ================= */
    &i2c1 {
        status = "okay";
        scl-pin = <3>;   // I2C1_SCL_PIN
        sda-pin = <2>;   // I2C1_SDA_PIN

        oled0: ssd1306@3c {
            compatible = "solomon,ssd1306fb";
            reg = <0x3c>;
            width = <128>;
            height = <32>;
        };
    };

    /* ================= RGB ================= */
    &rgb {
        compatible = "zmk,ws2812";
        label = "RGB";
        chain-length = <2>;          // RGBLIGHT_LED_COUNT
        data-gpios = <28>;           // ws2812.pin
        spi-max-frequency = <4000000>;
    };

    /* ================= Encoder ================= */
    &rotary0 {
        compatible = "zmk,rotary-encoder";
        pin_a = <27>;
        pin_b = <26>;
        resolution = <4>;            // ENCODER_RESOLUTION
    };
};

