/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // Левая половина (0–29)
                &kp Q   &kp W   &kp E   &kp R   &kp T   &kp Y
                &kp A   &kp S   &kp D   &kp F   &kp G   &kp H
                &kp Z   &kp X   &kp C   &kp V   &kp B   &kp N
                &kp 1   &kp 2   &kp 3   &kp 4   &kp 5   &kp 6
                &kp TAB &kp LCTRL &kp LALT &kp SPACE &kp ESC &kp ENTER

                // Правая половина (30–59)
                &kp U   &kp I   &kp O   &kp P   &kp LBKT &kp RBKT
                &kp J   &kp K   &kp L   &kp SEMI &kp QUOT &kp BSLH
                &kp M   &kp COMM &kp DOT &kp SLASH &kp MINUS &kp EQUAL
                &kp 7   &kp 8   &kp 9   &kp 0     &kp BSPC &kp DEL
                &kp SPACE &kp RALT &kp RCTRL &kp ENTER &kp TAB &kp ESC
            >;
        };
    };
};

