// rpi_pico.overlay

/ {
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        row-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>, <&gpio0 5 GPIO_ACTIVE_LOW>, <&gpio0 6 GPIO_ACTIVE_LOW>,
                    <&gpio0 7 GPIO_ACTIVE_LOW>, <&gpio0 8 GPIO_ACTIVE_LOW>, <&gpio0 9 GPIO_ACTIVE_LOW>,
                    <&gpio0 10 GPIO_ACTIVE_LOW>, <&gpio0 11 GPIO_ACTIVE_LOW>, <&gpio0 12 GPIO_ACTIVE_LOW>, <&gpio0 13 GPIO_ACTIVE_LOW>;
        col-gpios = <&gpio0 14 GPIO_ACTIVE_LOW>, <&gpio0 15 GPIO_ACTIVE_LOW>, <&gpio0 16 GPIO_ACTIVE_LOW>,
                    <&gpio0 17 GPIO_ACTIVE_LOW>, <&gpio0 18 GPIO_ACTIVE_LOW>, <&gpio0 19 GPIO_ACTIVE_LOW>;
        diode-direction = "col2row";
        debounce-press-ms = <5>;
        debounce-release-ms = <5>;
    };

    i2c1: i2c@1 {
        status = "okay";
        scl-pin = <3>; // GP3
        sda-pin = <2>; // GP2

        oled0: ssd1306@3c {
            compatible = "solomon,ssd1306";
            reg = <0x3c>;
            width = <128>;
            height = <32>;
            rotation = <270>;
            brightness = <30>;
        };

        oled1: ssd1306@3d {
            compatible = "solomon,ssd1306";
            reg = <0x3d>;
            width = <128>;
            height = <32>;
            rotation = <270>;
            brightness = <30>;
        };
    };

    ws2812: ws2812@0 {
        compatible = "worldsemi,ws2812";
        pin = <28>; // GP28
        num-leds = <2>;
        split = <1 1>;
        max-brightness = <150>;
        default-brightness = <0>;
        default-saturation = <255>;
        status = "okay";
    };

    hand_detect: gpio_hand {
        compatible = "zmk,gpio-hand-detect";
        gpios = <&gpio0 29 GPIO_ACTIVE_LOW>;
    };

    uart0: uart {
        compatible = "zephyr,uart";
        current-speed = <19200>;
        tx-pin = <0>; // GP0
        rx-pin = <1>; // GP1
        status = "okay";
    };

    chosen {
        zmk,kscan = &kscan0;
        zmk,display = &oled0;
        zmk,display2 = &oled1;
        zmk,led = &ws2812;
    };
};

