// rpi_pico.keymap

/ {
    keymap {
        compatible = "zmk,keymap";
        base_layer {
            bindings = <
                &kp GRAVE   &kp 1    &kp 2    &kp 3    &kp 4    &kp 5      &kp 6    &kp 7    &kp 8    &kp 9    &kp 0    &kp BACKSPACE
                &kp ESC     &kp Q    &kp W    &kp E    &kp R    &kp T      &kp Y    &kp U    &kp I    &kp O    &kp P    &kp BACKSLASH
                &kp TAB     &kp A    &kp S    &kp D    &kp F    &kp G      &kp H    &kp J    &kp K    &kp L    &kp SEMICOLON &kp QUOTE
                &kp LEFT_SHIFT &kp Z &kp X    &kp C    &kp V    &kp B      &kp N    &kp M    &kp COMMA &kp DOT &kp SLASH &kp RIGHT_SHIFT
                &kp LEFT_CONTROL &kp LEFT_ALT &kp LEFT_GUI &mo LOWER &kp SPACE &kp LEFT_BRACKET &kp RIGHT_BRACKET &kp ENTER &mo RAISE &kp RIGHT_GUI &kp RIGHT_ALT &kp RIGHT_CONTROL
            >;
        };
        // ... остальные слои (LOWER, RAISE, ADJUST) по аналогии
    };
};

